html, body {
    background-color: #555;
}

html {
	height: 100%;
}

body {
	height: 97%;
}

#box {
    position: absolute;
    top: 50%;
    left:50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

#box h1 {
    color: #fff;
    text-shadow:0 0 10px;
    letter-spacing: 1px;
    text-align: center;
}

#box input {
    width: 278px;
    height: 18px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    text-shadow:1px 1px 1px;
    border-top: 1px solid #312E3D;
    border-left: 1px solid #312E3D;
    border-right: 1px solid #312E3D;
    border-bottom: 1px solid #56536A;
    border-radius: 4px;
    background-color: #2D2D3F;
}

.btn {
    width: 300px;
    min-height: 20px;
    background-color: #4a77d4;
    border: 1px solid #3762bc;
    color: #fff;
    padding: 9px 14px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
	color: #fff;
    text-shadow:0 0 10px;
}

#terminal-container {
	height: 100%;
}