[project]
	description = xTerminal is a remote web shell tool for multi terminal devices.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhaojianhui (zhaojh329)
[access "refs/for/refs/*"]
	read = group user/zhaojianhui (zhaojh329)
	push = group user/zhaojianhui (zhaojh329)
	label-Code-Review = -2..+2 group user/zhaojianhui (zhaojh329)
	label-Verified = -1..+1 group user/zhaojianhui (zhaojh329)
	rebase = group user/zhaojianhui (zhaojh329)
	removeReviewer = group user/zhaojianhui (zhaojh329)
	submit = group user/zhaojianhui (zhaojh329)
[access "refs/heads/*"]
	read = group user/zhaojianhui (zhaojh329)
	create = group user/zhaojianhui (zhaojh329)
	push = +force group user/zhaojianhui (zhaojh329)
	pushMerge = group user/zhaojianhui (zhaojh329)
[access "refs/tags/*"]
	push = group user/zhaojianhui (zhaojh329)
	push = +force group user/zhaojianhui (zhaojh329)
